<div class="vertical-slider-container" [@popup]='popupState'>
  <div class="row confirmation-container" *ngIf='paymentConfirmed' style='background-color: #00ff5d;'>
<div class="col-12">
<h1><i class="fas fa-check-circle"></i> &nbsp; Payment Confirmed! Thank you for your donation!</h1>
  </div>
  </div>
  <div class="row donate-container" [@slide]='donateState'>
    <div class="col-12 col-md-9">
  <h1>Support <span>{{currentShow}}</span> Directly</h1>
  <p>Your donation helps keep SHCR running</p>
    </div>
    <div class="col-12 col-md-3">
      <span (click)='advanceToSlide2()' class='donate-btn btn-neumorphic' role='button'>DONATE</span>
    </div>
  </div>
  <div class="row donate-form-container">
    <app-donate-amount style='width:100%'></app-donate-amount>
  </div>

  <div class="row split-form-container">
    <app-donate-split style='width:100%;'></app-donate-split>
  </div>

  <div class="row payment-choice-container">
      <div class="row" style='width:100%;'>
        <div class="col-3 col-md-1">
          <i (click)="advanceToSlide3()" id='pointy-boi' class="fas fa-long-arrow-alt-left"></i>
        </div>
        <div class="col-9 col-md-3">

        </div>
        <div class="col-12 col-md-3">
          <h6 class='donate-subheading'>Thank you for considering a donation!</h6>
          <p class='donate-paragraph'>Your donation will pay for {{valueOfDonationInServerDays}} days of server time</p>
        </div>
        <div class="col-12 col-md-3">
          <app-paypal></app-paypal>
        </div>
        <div class="col-12 col-md-2">
            <h1 style='margin-top: 35px; color: #000;font-size:1.777em;'><span style='font-size: 0.56em;'>AMOUNT</span> : ${{ this.donateService.donateAmount}}<span style='font-size: 0.56em;'>.00</span></h1>
        </div>
      </div>
  </div>
</div>
