.vertical-slider-container {
height: 0px;
visibility: hidden;
overflow-y: hidden;
overflow-x: hidden;
width: 965px;
margin-left: calc(50% - 480px);
}

.go-back-btn {
  font-size: 0.75em;
  display: block;
  margin-top: 4px;
  font-weight: 900;
  cursor: pointer;
  color: #000;
}

.donate-container {
  background-color: #0008c8;
  height: 96px;
  position: relative;
  width: 100%;
  font-family: 'VT323', monospace !important;
  color: #fff;
}

.donate-subheading {
  margin-top: 14px;
  font-size: 1.333em;
margin-bottom: 7px;
}


.confirmation-container h1 {
  color: #fff;
  font-size: 1.777em;
  margin-top: 21px;
  width: 90%;
  margin-left: 5%;
  font-weight: 700;
}

.donate-container h1 {
  font-size: 1.777em;
  margin-top: 21px;
  width: 90%;
  margin-left: 5%;
  font-weight: 700;

}

.donate-container h1 span {
}

.donate-container p {
  font-size: 1em;
  margin-top: 7px;
  width: 90%;
  margin-left: 5%;
}

.donate-btn {
  cursor: pointer;
  transition: 0.2s;
  padding: 7px 35px;
  text-align: center;
  font-size: 1.333em;
  display: inline-block;
  margin-top: 34px;
  margin-left: 16px;
  font-weight: 100;
  font-family: 'VT323', monospace;
  letter-spacing: 2px;
}

.donate-form-container {
  background-color: #0008c8;
  height: 96px;
  position: relative;
  width: 100%;
}

form .amount-preset {
  text-align: center;
  color: #000;
  font-weight: 900;
  border: 3px solid #000;
  background: none;
  padding: 7px 14px;
  margin-top: 28px;
  font-size: 1.333em;
  border-radius: 7px;
  outline: none;
  width: 50%;
  margin-left: 25%;
  transition: 0.1s;
  cursor: pointer;
}

form .amount-preset:hover {
  color: #ffdf00;
  background: #000;
}

label {
  color: #000;
  text-align: right;
  float: left;
  margin-top: 35px;
  font-family: 0.75em;
  margin-right:7px;

}

form .amount-number {
  float: left;
  text-align: center;
  color: #000;
  font-weight: 900;
  border:none;
  border-bottom: 3px solid #000;
  background: #FFE019;
  padding: 7px 14px;
  margin-top: 28px;
  font-family: "Josefin Sans";
  font-size: 1.333em;
  outline: transparent;
  box-shadow: none;
  width: 70px;
  transition: 0.1s;
  cursor: pointer;
}

.confirmation-container {
  height: 96px;
  position: relative;
}

.donate-form-container h1 {
  color: #000;
  font-size: 1.777em;
  margin-top: 21px;
  width: 80%;
  margin-left: 20%;
}

.confirm-heading {
  margin-top: 35px;
}

.pay-opt-btn {
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 7px 35px;
  margin-left: 0px;
  color: #000;
  text-align: center;
  font-size: 1.333em;
  display: inline-block;
  margin-top: 29px;
  background-color:transparent;
  font-family: "Josefin Sans";
}

.pay-opt-btn:hover {
  background-color: #000;
  color: #fff;
}

.split-form-container {
  background-color: #0008c8;
  height: 96px;
  position: relative;
  width: 100%;
}



.payment-choice-container h1 {
  color: #000;
  font-size: 1.77em;
  margin-top: 21px;
  width: 80%;
  margin-left: 20%;
  font-family: "Josefin Sans";
}

.payment-choice-container {
  background-color:#ffdf00;
  height: 96px;
    position: relative;
}

#pointy-boi {
cursor:pointer;
font-size: 4.109em;
margin-top: 14px;
color:#000;
margin-left:35px;
}

@media (max-width: 768px) {

  .vertical-slider-container {
  height: 192px;
  }

  .donate-container {
    height: 192px;
  }

  .donate-form-container {
    height: 192px;
  }

  .split-form-container {
    height: 192px;
  }

  .payment-choice-container{
    height: 192px;
  }

  .donate-btn {
    margin-top: 0px;
  }

  .confirmation-container {
    height: 192px;
  }

#pointy-boi {
    font-size: 1.777em;
    margin-top: 7px;
}

  .confirm-heading {
  display: none !important;
  }

  .donate-subheading {
    margin-left: 10%;
    margin-top: 0px;
  }

  .donate-paragraph {
    margin-left: 10%;
  }

}
