.chinesetext {
//  font-family: 'GBK'!important;
  color: #000;
  -webkit-text-stroke-width: 0px;
}


.blog-container {
  background-color: #cacaca;
  padding: 2%;
  position: relative;
  overflow: hidden;
}
.blog-post {
padding: 0px 35px;
margin: 0;
}

.post-card h1 {
  font-family: "Exo 2";
  font-weight: 700;
  padding: 14px 35px;
  font-size: 1em;
}

.title {
font-size: 1.333rem;
padding: 14px 0px;
font-family: "Exo 2", monospace;
width: 240px;
font-weight: 900;
color: #787878;
margin-left: 35px;

}

.post-container {
  // display: flex;
  // flex-direction: row;
}

.blog-post {
padding: 35px 14px 70px 14px;
margin: 0;
min-height: 240px;
}



.post-card {
  height: 100%;
align-items: center;
background-color: #e0e0e0;
box-shadow: -12px -12px 12px 0px rgba(255,255,255,0.4) inset,
0px 0px 8px 0px rgba(0,0,0,0.4) inset;
transition: 0.2s;
z-index: 2;
position: relative;
// height: 100%;

color: #000;

padding: 1px;

cursor: pointer;

}

.post-card:hover {
  box-shadow: -6px -6px 6px 0px rgba(255,255,255,0.2),
  0px 0px 8px 0px rgba(0,0,0,0.2);
}

#blur-shadow {
  position: absolute;
  width: 110%;

  height: 180px;
  background-color: rgba(0,0,0,0.4);
  bottom: -40px;
  left: -5%;
  border-radius:35% 35% 0 0 / 60px;
  z-index: 0;
  filter: blur(35px);
}


@media only screen and (min-width: 962px) {

}

@media only screen and ( orientation : portrait ) {

  .blog-container {
    padding: 10% 2%;
  }
  .post-card{
  width: 100%;
  }
  .title {
    font-size: 1.333em;
    margin-left: 21px;
  }
}


.blog-post img {
  max-width: 40rem;
  width: 100%;
}
