<div class='blog-container container-fluid'>

  <div class='title'>
    <h1><span class="chinesetext"> 專題 </span> EDITORIAL</h1>
  </div>


  <div class="post-container">
    <div class="row">
   <div class='blog-post col-12 col-md-4' *ngFor='let post of posts'>
    <div class="post-card" (click)="goTo(post.filename)">
      <div class='img-container'>
      <img [src]="post.image_large">
      </div>
      <h1 class='post-title'>{{post.title}}</h1>
      <!-- <p class='post-excerpt'>{{post.excerpt}}</p> -->
    </div>
    </div>
  </div>
</div>
<div id='blur-shadow'>&nbsp;</div>

</div>
