<div class="sticky-top" style='background-color: #000;'>
<nav class='row'>
      <a class='header-logo' routerLink="../"><img src='assets/logo.png'></a>
    <h2 class='mobile-menu-button' role='button' (click)="toggleMobileMenu()"><i class="fa fa-bars" aria-hidden="true"></i></h2>
</nav>


<div *ngIf='mobileMenuActive' class='mobile-menu-container'>
  <h2 class='mobile-menu-button' role='button' (click)="toggleMobileMenu()"><i class="fas fa-times-circle"></i></h2>
  <ul>
    <a target="_blank" href='https://space.bilibili.com/453850511/'><li><img src='assets/bilibili-icon.png'>bilibili</li></a>
    <a target="_blank" href='https://www.youtube.com/c/ShanghaiCommunityRadio'><li><i class="fab fa-youtube"></i> &nbsp;youtube</li></a>
    <a target="_blank" href='https://www.mixcloud.com/shanghaicommunityradio'><li><i class="fab fa-mixcloud"></i> &nbsp;mixcloud</li></a>
    <a target="_blank" href='https://www.instagram.com/shcrad.io/?hl=en'><li><i class="fab fa-instagram"></i> &nbsp;instagram</li></a>
    <a target="_blank" href='https://www.soundcloud.com/shcradio'><li><i class="fab fa-soundcloud"></i> &nbsp;soundcloud</li></a>
    <a target="_blank" href='https://www.facebook.com/shanghaicommunityradio/'><li><i class="fab fa-facebook"></i> &nbsp;facebook</li></a>
    <a target="_blank" href='https://music.163.com/#/user/home?id=1988061797'><li><img src='assets/netease-icon.png'>netease</li></a>
  </ul>
</div>
</div>
