nav {
height: 70px;
background: linear-gradient(60.2deg, rgba(255, 255, 255, 0.7) -10.28%, #FFFFFF 27.9%, rgba(255, 255, 255, 0) 60%);
position: fixed;
width: 240px;
right: 0;
margin: 0!important;
padding-top:7px;
border-bottom: 1px solid #fff;
border-bottom-left-radius: 7px;
// border-bottom-left-radius: 35%;
// border-bottom-right-radius: 35%;
// box-shadow: 0px -12px 12px 0px rgba(0,0,0,0.25) inset;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23f3f3f3'/%3E%3Cstop offset='1' stop-color='%23b8b8b8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='5' height='5' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='2.5' cy='2.5' r='2.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.45'/%3E%3C/svg%3E");
// background-attachment: fixed;
// background-size: cover;
}

// .chat-panel-container {
//   background-color: #000;
//   width: 100%;
//   display: block;
//   position: relative;
// }
//
// .coming-up-section {
//   position: absolute;
//   background: #25303c;
//   padding-left: 7px;
//   width: 420px;
//   height: 32px;
//   border-radius: 4px;
//   margin-top: 8px;
//   left: 50%;
//   color: #fae24b;
// font-family: 'VT323', monospace;
//   overflow-y: hidden;
//   box-shadow: 0px -4px 4px 0px rgba(255,255,255,0.2),
//   0px 4px 4px 0px rgba(0,0,0,0.2) inset;
//
//
// }
//
//
//   .coming-up-section h2 {
//     font-size: 0.75em;
//     margin-bottom: 7px;
//   }
//
//   .coming-up-section h3 {
//     font-size: 0.56em;
//     margin-top: 4px;
//     margin-bottom: 4px;
//   }


.sticky-top {
  margin: 0!important;
border: 0!important;
}

.navstream {
  width: auto;
  position: absolute;
  top: 0;
  left: 30%;
}

.mobile-menu-button {
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 99;
}

.mobile-menu-container .mobile-menu-button {
  filter: invert(0);
}

// .open-chat-tab {
//   background-color: #fff;
//   font-family: "Exo 2";
//   cursor: pointer;
//   padding: 7px 14px;
//   margin-top: 54px;
//   right: 70px;
//   float: right;
//   position: absolute;
//   display: inline-block;
//   border-bottom-left-radius: 2px;
//   border-bottom-right-radius: 2px;
//   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
//   transition: 0.2s;
//   z-index: 2;
//
// }
// .open-chat-tab i {
//   -webkit-text-stroke-color: #8f8f8f;
//   -webkit-text-stroke-width: 1px;
//   color: transparent;
// }
//
// .open-chat-tab:hover {
// background-color: #ffee64;
// }
//
// .close-chat-tab {
//   background-color: #000;
//   cursor: pointer;
//   color: #fff;
//   border-bottom: 1px solid #fff;
//   border-left: 1px solid #fff;
//   border-right: 1px solid #fff;
//   padding: 7px 14px;
//   right: 70px;
//   float: right;
//   position: absolute;
//   display: inline-block;
//   border-bottom-left-radius: 7px;
//   border-bottom-right-radius: 7px;
//   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
//   transition: 0.2s;
// }

// @media (max-width: 1200px) {
//
//
//   .coming-up-section {
//     left: 54%;
//     width: 320px;
//   }
// }
//
// @media (max-width: 1050px) {
//   .coming-up-section {
//     width: 280px;
//   }
// }
//
// @media (max-width: 340px) {
//   .navstream {
//     left: 50%;
//   }
// }
//
// @media (max-width: 762px) {
//
//
//     .coming-up-section {
//       top: calc(100vh - 42px);
//       background-color: rgba(0,0,0,0.75);
//       padding-left: 7px;
//       position: fixed;
//       left: 0vw;
//       width: 66.666vw;
//       border-top-left-radius: 7px;
//       color: #fff;
//       box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
//     }
//
// }
//
// // @media (max-width: 500px) {
// //   .navstream{
// // position: absolute;
// // left: 40%;
// //   }
// // }
//
// @media (min-width: 2000px) {
//   .navstream{
// position: absolute;
// left: 15%;
//   }
// }
//
//
// @media (max-width: 500px){
//   .navstream{
// left: 50%;
//   }
// .close-chat-tab {
//   right: 35px;
// }
// .open-chat-tab {
//   right: 35px;
// }
// }

// @media (max-width: 360px) and (orientation : portrait) {

// }

.header-logo {

  width: 120px;
  z-index: 5;
  margin-left: 14px;
}

.header-logo img {
  height: auto;
  // background: #0008c8;
  padding: 2px;
  margin-top: 4px;
  border-radius: 2px;
  width: 120px;
  display: inline-block;
  float: left;
//  filter: invert(100%);
}

// .on-air {
//   display:inline-block;
//   float: left;
//   font-family: 'Exo 2 Sans';
//   margin-right: 24px;
// //box-shadow: 0px 0px 21px 0px rgba(255,255,255,0.2);
// //  background-color: rgba(255,255,255,0.5);
//   border-radius: 7px;
//   padding: 7px;
//   margin-top: 2px;
//   width: 33.333%;
// }

// .on-air h1 {
//   margin-top: 4px;
//   color: #555;
// }
//
// .on-air h2 {
//   margin-top: 4px;
//
// }

.social-menu-container ul {float: right;
  margin-right: 24px;
}

.social-menu-container ul li {
  display: inline-block;
  float: left;
  margin-top: 18px;
  font-family: 'Exo 2';
  font-size: 1em;
  margin-left: 14px;
  margin-right: 14px;
  color: #000;
}

.mobile-menu-container ul {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;

}

.mobile-menu-container ul li {

  text-align: left;
  margin-top: 18px;
  font-size: 1em;
  margin-left: 80px;

}

.mobile-menu-container ul li img {
  margin-right:24px;
}

.mobile-menu-container img, .mobile-menu-container i {
  width: 16px;
  margin-right: 16px;
}

// .livestream-play-button {
//   position: relative;
//   color: #000;
//   z-index: 9;
//   cursor: pointer;
//   float: left;
//   margin-top: 7px;
//   margin-bottom:7px;
//   margin-right: 14px;
//   font-size: 2.109em;
// }

.livestream-play-button:hover {
  color: #555;
}

.mobile-menu-button {
  text-align: center;

  margin-top: 12px;
  font-size: 1.777em;
  line-height: 42px;
  vertical-align: middle;
  border-radius: 14px;
  margin-right: 36px;
  cursor: pointer;
  color: #000;
  filter: invert(1);
}

.mobile-menu-container .mobile-menu-button {
  position: fixed;
  margin-top: 58px;
  color: #fff;
  font-size: 1.777em;
}

.mobile-menu-button i {
  z-index: 99999;
}
//
// h2 {
//   color: #fff;
//   float: right;
//   margin-right: 7px;
// }

a {
  color: #fff;
  transition: 0.1s;
}

a:hover {
  color: #ffdf00;
}


.mobile-menu-container {
  position: fixed;
  background: rgba(0,0,0,0.88);
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0px;
  left: 0px;
}

@media (max-width: 1100px) {
  .social-menu-container ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
