<div class="sticky-top" style='background-color: #000;'>
<nav class='row' [@navToggle]='navToggleState'>
<div class='col-10 col-lg-6'>
  <div class='row'>
    <div class="col-12 col-sm-3">
      <a class='header-logo' routerLink="../"><img src='assets/logo.png'></a>
    </div>
      <!-- <div class="col-12 col-sm-9"> -->
        <div class="navstream">
    <app-radiostream *ngIf='this.playerService.livestreamActive == false && viewHasLoaded'></app-radiostream>
    </div>
    <div class="coming-up-section">
      <div [@comingUpSlide]='comingUpSliderState' class='now-playing' *ngIf='this.nowPlaying !== ""'>
        <h3>NOW PLAYING :</h3>
        <h2>{{this.nowPlaying}}</h2>
      </div>
      <div class='up-next'>
        <h3>UP NEXT [ <span>{{this.upNextTime}}</span> ]</h3>
        <h2>{{this.upNext}}</h2>
      </div>
    </div>
    </div>
</div>
<!-- <div class="social-menu-container col-lg-6 d-none d-lg-block">
    <ul>
      <a routerLink="/shows"><li><span class="chinesetext">節目</span> shows</li></a>
      <a routerLink="/residents"><li><span class="chinesetext">主持</span> residents</li></a>
      <a routerLink="/blog"><li><span class="chinesetext">專題</span> editorial</li></a>
      <a target="_blank" href='https://hkcrstore.bigcartel.com/'><li><span class="chinesetext">商店</span> shop</li></a>
    </ul>
  </div> -->
<h2 class='mobile-menu-button' role='button' (click)="toggleMobileMenu()"><i class="fa fa-bars" aria-hidden="true"></i></h2>
</nav>


<div *ngIf='mobileMenuActive' class='mobile-menu-container'>
  <h2 class='mobile-menu-button' role='button' (click)="toggleMobileMenu()"><i class="fas fa-times-circle"></i></h2>
  <ul>
    <!-- <li>LIVESTREAM</li>
    <li>SCHEDULE</li>
    <li>FEED</li>-->
    <!-- <a routerLink="../livestream"><li style='font-size: 0.77em;margin-top: 21px;background-color: #333;padding: 9px 14px 7px 14px;border-radius: 7px;color: #fff;'><i class="fas fa-tv"></i> TV</li></a> -->
    <a (click)='toggleMobileMenu()' routerLink="/shows"><li><span class="chinesetext">節目</span> SHOWS</li></a>
    <a (click)='toggleMobileMenu()' routerLink="/residents"><li><span class="chinesetext">主持</span> RESIDENTS</li></a>
    <a (click)='toggleMobileMenu()' routerLink="/blog"><li><span class="chinesetext">專題</span> EDITORIAL</li></a>
<a target="_blank" href='https://hkcrstore.bigcartel.com/'><li><span class="chinesetext">商店</span> SHOP</li></a>
<hr>
    <a target="_blank" href='https://www.facebook.com/hkcrlive'><li><i class="fab fa-facebook-f"></i> &nbsp;facebook</li></a>
    <a target="_blank" href='https://www.youtube.com/channel/UCFqCSru3cS79WElDMSh-jcg'><li><i class="fab fa-youtube"></i> &nbsp;youtube</li></a>
    <a target="_blank" href='https://www.mixcloud.com/HKCR/'><li><i class="fab fa-mixcloud"></i> &nbsp;mixcloud</li></a>
    <a target="_blank" href='https://www.instagram.com/hkcronline'><li><i class="fab fa-instagram"></i> &nbsp;instagram</li></a>
    <a target="_blank" href='https://twitter.com/hkcr_online'><li><i class="fab fa-twitter"></i> &nbsp;twitter</li></a>
    <a target="_blank" href='https://soundcloud.com/hkcrlive'><li><i class="fab fa-soundcloud"></i> &nbsp;soundcloud</li></a>
  </ul>
</div>
<!-- <div *ngIf='this.playerService.livestreamActive == false' [@chatPanelToggle]='chatPanelToggleState' class="open-chat-tab" (click)='toggleChat()'>
  <span role='button'><i class="fas fa-comments"></i> Chat</span>
</div>
<div *ngIf='chatPanelActive' class="close-chat-tab" (click)='toggleChat()'>
  <span role='button'><i class="fas fa-times"></i> Close</span>
</div> -->
</div>
<div class='stream-container'>
  <app-livestream *ngIf='this.playerService.livestreamActive == true'></app-livestream>
  <!-- <div *ngIf='this.playerService.livestreamActive == false' [@chatToggle]='chatActive' class="chat-panel-container">
      <app-chatango></app-chatango>
  </div> -->
  </div>
  <!-- -->


  <!-- <div class='on-air d-none d-lg-block'>
    <div class='col-2'>
      <i style=''class="fas fa-play-circle livestream-play-button"></i>
      </div>
    <div class='col-10'>
    <h1><i style="color: #f00;margin-right: 7px;font-size:0.75em;" class="fas fa-circle"></i><span style="font-size: 0.5em;position:relative;top:-2px;">UNDER CONSTRUCTION</span></h1>
    <h2>-</h2>
    </div>
  </div> -->
