<footer>
<div class="col-12 col-sm-6 social-bar">
  <a href='https://space.bilibili.com/453850511/'><img src="assets/bilibili.png" alt=""></a>
  <a href=''><img src="assets/wechat.png" alt=""></a>
  <a href='https://music.163.com/#/user/home?id=1988061797'><img src="assets/wyy.png" alt=""></a>
  <a href='https://www.mixcloud.com/shanghaicommunityradio'><img src="assets/mixcloud.png" alt=""></a>
  <a href='https://www.soundcloud.com/shcradio'><img src="assets/soundcloud.png" alt=""></a>
  <a href='https://www.youtube.com/c/ShanghaiCommunityRadio'><img src="assets/youtube.png" alt=""></a>
  <a href='https://www.facebook.com/shanghaicommunityradio/'><img src="assets/fb.png" alt=""></a>
  <a href='https://www.instagram.com/shcrad.io/?hl=en'><img src="assets/ig.png" alt=""></a>

</div>
  </footer>
