footer {
width: 100%;
background: #151515;
position: relative;
bottom: 0;
color: #fff;
overflow: hidden;
}


.mega-acid-mode-btn {
  position: absolute;
  bottom: -34px;
  right: 11px;
  cursor: grab;
}

// // hide scrollbar
// -ms-overflow-style: none;  /* IE and Edge */
// scrollbar-width: none;  /* Firefox */
// }

// /* Hide scrollbar for Chrome, Safari and Opera */
// footer::-webkit-scrollbar {
//   display: none;


.footerblank {
  bottom: 0;
  // position: absolute;
  height: 3.75rem;
  width: 100%;
  background: #151515;
  color: #fff;
}

h1 {
  font-family: "Exo 2";
  display: block;
  margin-top: 35px;
  margin-bottom: 7px;
  margin-left: 2%;
}

ul {
  list-style-type: none;
  display: block;
  margin-bottom: 14px;
  margin-top: 7px;
  margin-left: 2%;
}

ul a {
}

li {
  display: inline-block;
  width: 33.3333%;
  float: left;
  font-size: 1.333em;
  margin-top: 14px;
}

a {
  color: transparent;
  font-size: 1.333em;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}

.image-container {
  width: 80px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 14px;
}

.image-container img {
  width: 100%;

}

.social-container {
  width: 200px;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 42px;
  text-align: center;
}

h2 {
  font-family: "Exo 2";
  font-size: 1.333em;
  margin-top: 42px;
  margin-bottom: 14px;
  font-weight: 700;
  text-align: right;
  margin-right: 2%;
}

p {
  font-family: "Exo 2";
  line-height: 1.333em;
  font-size: 0.777em;
  text-align: right;
  margin-right: 2%;
  margin-top: 21px;
  padding: 14px;
}

@media only screen and (orientation : portrait) {
  p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .image-container {
    width: 198px;
  }
  img {
width: 198px;
}
h1 {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
}
ul {
  text-align: center;
}
}
