footer {
width: 100%;
height: 60px;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,0) 100%);
position: fixed;
bottom: 0;
color: #fff;
overflow: hidden;
z-index: 1;

}

.social-bar {
  float: right;
}
.social-bar img {
width: 25px;
vertical-align: middle;
filter: grayscale(1);
margin-left: 14px;
margin-top: 24px;
opacity: 0.4;
transition: 0.2s;
}

.social-bar img:hover {
  opacity: 1;
  filter: grayscale(0);
}
