<footer class='blank-footer'>
<div class="col-12 col-sm-6 social-bar">
  <a href='https://space.bilibili.com/453850511/'><img src="assets/bilibili-icon.png" alt=""></a>
  <!-- <a href=''><i class="fa fa-weixin"></i></a> -->
  <a href='https://music.163.com/#/user/home?id=1988061797'><img src="assets/netease-icon.png" alt=""></a>
  <a href='https://www.mixcloud.com/shanghaicommunityradio'><i class="fab fa-mixcloud"></i></a>
  <a href='https://www.soundcloud.com/shcradio'><i class="fab fa-soundcloud"></i></a>
  <a href='https://www.youtube.com/c/ShanghaiCommunityRadio'><i class="fab fa-youtube"></i></a>
  <a href='https://www.facebook.com/shanghaicommunityradio/'><i class="fab fa-facebook"></i></a>
  <a href='https://www.instagram.com/shcrad.io/?hl=en'><i class="fab fa-instagram"></i></a>

</div>
  </footer>
