.container {
  padding-bottom: 35px;
}


.chinesetext {
//  font-family: 'GBK'!important;
color: #0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2d3941;
}

.upcoming-container {
  background: rgb(246,246,246);
background: linear-gradient(315deg, rgba(216,216,216,1) 0%, rgba(246,246,246,1) 100%);
  width: 90%;
  max-width: 420px;
  border-radius: 35px;
  box-shadow: -7px -7px 35px 14px rgba(255,255,255,1),
  7px 7px 35px 14px rgba(0,0,0,0.6);

}

.filter-card button {
  cursor: pointer;
  width: 100%;
}

.filter-card button:hover {
  background: #fff;
}

.filter-card button:focus {
  outline: none;
}

.filter-card button.filter-active {
  background: #00f;
  color: #fff;
}

.filter-card .col-4 {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
}

.upcoming-card {
border-bottom: 1px dotted #eaeaea;
margin-bottom: 7px;
margin-top: 7px;
padding: 7px 14px;
transition: 0.2s;
cursor: pointer;
position: relative;
border-radius: 14px;
border-top: 1px solid #0f0;
border-right: 1px solid #0f0;
background: linear-gradient(135deg, rgba(233,233,233,0.2) 0%, rgba(240,240,240,0.2) 60%, rgba(255,255,255,0.2) 100%);
}

.upcoming-content {
  font-family: "Exo 2";
  margin-top: 14px;
  line-height: 1.333em;
  margin-bottom: 7px;
  font-size: 0.75em;
}

.upcoming-card:hover {
// background-color: #000;
// color: #fff;
// border-radius: 7px;
// box-shadow: -12px -12px 12px 0px rgba(255,255,255,0.4) inset,
// 8px 8px 8px 0px rgba(0,0,0,0.4) inset;
}

// .upcoming-card:hover .day {
// color: #000;
// background: #fff;
// border: 1px solid #fff;
// }
//
// .upcoming-card:hover .time  {
//
// background: #000;
// border: 1px solid #fff;
// color: #fff;
// }

.upcoming-now-playing {
  font-size: 0.75em;
}

.upcoming-up-next {
  font-size: 0.56em;
}

.upcoming-img-container {
  width: 100%;
  height: auto;
  padding: 4px;
  padding-left: 14px;
}

.upcoming-img-container img {
  width: 100%;
  border-radius: 50%;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 1.333em;
  font-weight: 900;
  color:#2d3941;
  margin-top: 7px;
  position: relative;
  margin-left: 14px;
}

.filter-btn {
  border: 1px solid #fff;
  font-size: 0.75em;
  margin-top: 7px;
  padding: 7px 0px;
  border-radius: 3px;
  background: rgba(255,255,255,0.6);
  width: 100%;
}

.upcoming-title {
  font-family: "Exo 2", sans-serif;
  padding-top: 4px;
  margin-bottom: 7px;
}

.upcoming-category {
  font-size: 0.75em;
  color: #353535;
  margin-bottom: 14px;
}

.upcoming-date {
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  margin-top: 7px;
  color: #000;
}

.day {
  font-family: "Exo 2",sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 0.75em;
  border: 1px solid #000;
  background-color: #000;
  padding: 4px;
  margin-bottom: 7px;
}

.time {
  border: 1px solid #000;
  color:#000;
  padding:4px;
}

.schedule-btn {
  color: #000;
  font-family: "Exo 2", sans-serif;
  padding: 14px;
  width: 80%;
  font-size: 0.75em;
  border-radius: 4px;
  background-color: rgb(233,233,233);
  background: linear-gradient(135deg, rgba(233,233,233,0.5357493339132529) 0%, rgba(240,240,240,0.5357493339132529) 60%, rgba(255,255,255,1) 100%);
  margin-left: 10%;
  text-align: center;
  box-shadow: -8px -8px 8px 0px rgba(255,255,255,0.4),
  2px 2px 8px 0px rgba(0,0,0,0.4);
  display: inline-block;
  margin-top: 14px;
  transition: 0.2s;
}

.schedule-btn:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
  box-shadow: -8px -8px 8px 0px rgba(255,255,255,0.4),
  2px 2px 8px 0px rgba(0,0,0,0.4);
}


.empty-message {
  font-family: "Exo 2", sans-serif;
  font-size: 0.75em;
  color: #aaa;
  margin-left: 19px;
}

@media only screen and ( max-width : 550px ) {

.upcoming-container {
  width: 85%;
  margin-left: 15%;
}

  .upcoming-now-playing {
left: -40px;
  }

  .upcoming-up-next {
    left: -56px;
  }

}
