.paypal-button-tagline {
  display: none;
}

.paypal-buttons-layout-horizontal {
  margin-top: 28px !important;;
}

.paypal-container {
  margin-top: 25px;

}

.paypal-container span {
  margin-top: 35px !important;
}

@media (max-width: 768px) {
  .paypal-container {
    margin-left: 10%;
    margin-top: 4px;

  }
}
