<div class="banner" style='width: 100vw;'>
  <div class="row">
    <div class="col-12 col-md-6" style='padding: 0px;'>
      <a href="https://hkcrstore.bigcartel.com/" target="_blank">
        <!-- <img class="bannerlogo" src='assets/logo.png'> -->
        <i class="fas fa-tshirt"></i>
        <h1>Official T-Shirts and Longsleeves</h1>
        <!-- <img src="assets/hkcrtees.svg" alt="hkcr t shirt"> -->
      </a>
    </div>
    <div class="col-12 col-md-6" style='padding: 0px;'>
      <a href="https://www.patreon.com/hkcr" target="_blank">
        <!-- <img class="bannerlogo" src='assets/logo.png'> -->
        <i class="fab fa-patreon"></i>
        <h1>Support Us On Patreon!</h1>
        <!-- <img src="assets/hkcrtees.svg" alt="hkcr t shirt"> -->
      </a>
    </div>
  </div>

</div>
