  <div class="waveform" [ngClass]="{'animating': radioActive}">
  </div>
  <div class='row' *ngIf='errorActive'>
    <h1 class='inactive-stream' style='margin-top: 14px;font-size: 0.75em;background-color: #fff; padding: 12px; border-radius: 12px;'><i class="fas fa-bed"></i> Stream Offline</h1>
  </div>
  <div class='row'>
<div class="col-12">
  <div class="player-control-bar">
    <img class='back-button grayed' src='assets/back-button-01.png'/>
    <img class='pause-button' src='assets/pause-button-01.png' (click)='pauseRadio($event)'/>
    <img class='play-button' src='assets/play-button-01.png' (click)='playRadio($event)'/>
    <img class='next-button grayed' src='assets/next-button-01.png'/>
  </div>
</div>


    <!-- <i *ngIf='!radioActive' class="fas fa-play livestream-play-button" (click)='playRadio($event)'></i>
    <i *ngIf='radioActive' class="fas fa-pause livestream-play-button" (click)='pauseRadio($event)'></i> -->

    <!-- <div class='video-stream' style='d-none lg-block'>
      <h1 (click)='activateLivestream()'><i class="fas fa-tv"></i></h1>
    </div> -->


  <!-- <div style='float: left;display: inline-block; padding-right: 21px; height: 35px;'>
  <div class='now-playing-icon-container'>
  </div>
  </div> -->


  </div>
<div class='radiostream-container'>
  <!-- <video data-dashjs-player
       [width]="livestreamPlayerWidth" controls autoplay
       src="http://161.35.20.148/dash/test.mpd">
</video> -->
<video id="video_holder"  #radio
class="video-js vjs-default-skin vjs-big-play-centered vjs-big-play-button" controls playsinline webkit-playsinline
data-setup='{}'data-res="auto" ></video>
</div>
