<div class='on-air'>
  <div class='row' *ngIf='errorActive'>
    <h1 style='margin-top: 14px;font-size: 0.75em;'><i class="fas fa-bed"></i> Stream Offline</h1>
    <h2 style='margin-top: 14px;font-weight: 100;' class='d-none d-sm-block'>Please check out our recent shows below</h2>
  </div>
  <div class='row' *ngIf='!errorActive'>
    <!-- RADIO STREAM BUTTON -->
    <i *ngIf='!radioActive' class="fas fa-play livestream-play-button" (click)='playRadio($event)'></i>
    <i *ngIf='radioActive' class="fas fa-pause livestream-play-button" (click)='pauseRadio($event)'></i>

    <!-- VIDEO-STREAM BUTTON -->
    <div class='video-stream' style='d-none lg-block'>
      <h1 (click)='activateLivestream()'><i class="fas fa-tv"></i></h1>
    </div>


  <div style='float: left;display: inline-block; padding-right: 21px; height: 35px;'>
  <!-- <h1 style='margin-top: 10px;'><i style="position: absolute; top: 4px; z-index: 3; left: 4px;color: #f00;filter:blur(4px);margin-right: 7px;font-size:0.56em;" class="fas fa-circle"></i></h1> -->
  <div class='now-playing-icon-container'>
  </div>
  </div>


  </div>
</div>
<div class='radiostream-container'>
  <!-- <video data-dashjs-player
       [width]="livestreamPlayerWidth" controls autoplay
       src="http://161.35.20.148/dash/test.mpd">
</video> -->
<video id="video_holder"  #radio
class="video-js vjs-default-skin vjs-big-play-centered vjs-big-play-button" controls playsinline webkit-playsinline
data-setup='{}'data-res="auto" ></video>
</div>
