
.pay-now-btn {
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 7px 35px;
  margin-left: 0px;
  color: #ffdf00;
  text-align: center;
  font-size: 1.333em;
  display: inline-block;
  margin-top: 29px;
  background-color:#000;
  font-family: "Josefin Sans";
}

.pay-now-btn:hover {
  background-color: #000;
  color: #fff;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  margin-left: 5%;
  width: 90%; /* Full-width */
  height: 2px; /* Specified height */
  background: rgba(0,0,0,1); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin-top: 45px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: 3px solid #000;
  border-radius: 100%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background-color:  #FFE019;
  cursor: pointer; /* Cursor on hover */
  transition: 0.2s;
}

.slider::-webkit-slider-thumb:hover {
background-color: #000;
}

.slider::-moz-range-thumb {
  border:  3px solid #000;
  border-radius: 100%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  background-color: #FFE019;
    transition: 0.2s;
}

.slider::-moz-range-thumb:hover {
  background-color: #000;
}



h1 {
  color: #000;
  font-size: 1.333em;
  margin-top: 21px;
  width: 80%;
  margin-left: 20%;
  font-family: "Josefin Sans";
}


.go-back-btn {
  font-family: "Josefin Sans";
  font-size: 0.75em;
  display: block;
  margin-top: 4px;
  font-weight: 900;
  cursor: pointer;
  color: #000;
}

.donation-subheading {
  font-size: 1.333em;
  margin-top: 35px;
  font-family:"Josefin Sans";
  color: #000;
}

@media (max-width: 768px) {
 h1 {
   font-size: 1em;
 }

 .pay-now-btn {
   margin-top: 14px;
   margin-left: 5%;
   width: 90%;
 }

 .go-back-btn {
   margin-left: 5%;
 }
}
