<form [formGroup]='form' (submit)='onFormSubmit()' style='width: 100%;'>
  <div class="row">
    <div class="col-12 col-md-3">
      <h1>How do you want to split your donation?</h1>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-3" style='padding:0px;'>
          <h2  class='donation-subheading' style='font-size: 0.75em; text-align: right;'>{{currentShow}}<span *ngIf='currentShow == ""'>Residents</span></h2><h2 class='donation-subheading' style='margin-top: 4px;text-align: right;'>${{donation - donation * form.value.split / 100 | number:'1.2-2'}}</h2>
        </div>
        <div class="col-6">
          <div class="slidecontainer">
            <input formControlName='split' type="range" min="10" max="90" value="50" class="slider" id="myRange">
          </div>
        </div>
        <div class="col-3" style='padding:0px;'>
<h2  class='donation-subheading' style='font-size: 0.75em; text-align: left;'>HKCR</h2><h2 class='donation-subheading' style='margin-top: 4px;text-align: left;'>${{donation * form.value.split / 100  | number:'1.2-2'}}</h2>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-3">
      <button  class='pay-now-btn' type="submit" name="button">Proceed</button>
      <span (click)='advanceToSlide2()' role='button' class='go-back-btn'><i class="fas fa-angle-double-left"></i> BACK</span>
    </div>
  </div>
</form>
