<div class='fluid-container' style='padding-bottom: 70px;'>
    <!-- <div class='blob_1'>&nbsp;</div> -->
<div class="row">
<div class="col-3">
<p>&nbsp;</p>
</div>
<div class="col-9">
<div class='fluid-container'>
<div class='row show-header'>
  <!-- <div class='col-12 col-sm-6'>
<!-- <h1><span class="chinesetext">最新节目</span> LATEST
  <div class='controls-container'>
    <button class='controls' *ngIf='mode == "home"' (click)='prevShowPage()'><</button>
    <button class='controls' *ngIf='mode == "home"' (click)='nextShowPage()'>></button>
  </div>
  </h1>
  </div> -->
            <div class='col-12'>
              <p class='genre' *ngIf="currentGenre !== ''"><i style='margin-right: 14px;cursor:pointer;' (click)='closeGenre()' class="fas fa-times-circle"></i><span style='font-family: "Exo 2", sans-serif;'>{{currentGenre}}</span></p>
              </div>
    <!-- <div class='col-2'>
      <a routerLink="../archive"><h2 class='archive-button'>ARCHIVE <i class="fas fa-archive"></i></h2></a>
    </div> -->
</div>
</div>
<div class='fluid-container show-container'>
<div class='row' *ngIf='isLoading'>
  <div class='col-12' style='text-align: center;margin-top: 32px;'><img src='assets/loading.gif'>
  </div>
</div>
<div class='row' style='min-height: 72.5vh;'>
  <div (@fade.done)="fadeEnd($event)" class='col-lg-4 col-sm-6 col-12' style='padding:0px 7px;' *ngFor='let show of shows; let x = index'>
  <!-- <ng-template [ngIf]="mode == archive">
  <div (@fade.done)="fadeEnd($event)" class='col-xl-3 col-md-4 col-sm-6 col-12' style='padding:0px 7px;' *ngFor='let show of shows; let x = index'>
  </ng-template> -->
  <div [@fade]='state' class='show-card'>
    <div class='row'>
      <div class='col-12' (click)="goTo(show.url)">
    <div class='show-image'>
      <i class="fas fa-play play-icon"></i>
      <img [src]="show.featured_image">
    </div>
    </div>
    <div class='col-12' (click)="goTo(show.url)">
    <div class='show-copy'>
      <h2>{{show.title}}</h2>
      <!-- <h3>{{show.date}}</h3> -->
      <ul>
        <li *ngFor='let tag of show.tags; let i = index;' (click)='sortByTag(tag)'>{{tag}}</li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>
<hr>
</div>
</div>
</div>
