<div class="fluid-container" style='background-color: #f4f4f4;position:relative;'>
  <div class="container">
    <div class='row' *ngIf='isLoading' style='min-height: 75vh;'>
      <div class='col-12' style='text-align: center;margin-top: 32px;'><img src='assets/loading.gif'>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let show of shows" style='position: relative;'>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="row">
              <!-- <span role='button' class='back-btn' (click)='goBack()'><</span> -->
            <div *ngIf='!videoActive' class='img-container show-img-container'>
              <img class='temp-img' *ngIf="!showImageHasLoaded" [src]="show.low_res_image">
              <img [ngClass]="{'hidden': !showImageHasLoaded}" (load)='imageHasLoaded()' [src]="show.featured_image">
            </div>
            <div *ngIf='videoActive' class="video-container">
              <iframe *ngIf='youtubeVideo !== ""' style='margin-top: 35px;'
              width="100%"
              height="320"
              [src]="youtubeVideo | safe"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>

            <iframe *ngIf='bilibiliVideo !== ""' style='margin-top: 35px;'
            width="100%"
            height="320"
            [src]="bilibiliVideo | safe"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
            </div>
            </div>
          </div>

          <div class="col-12 col-md-6 single-show-content-container">
            <h1 class='single-show-title'>{{show.title}}</h1>
            <h2 class='single-show-airdate'>AIRDATE : {{show.date}}</h2>
            <ul class='genre-tags'>
              <li>Tags:</li>
              <li *ngFor='let tag of show.tags; let i = index;' (click)='sortByTag(tag)'>{{tag}}</li>
            </ul>
            <!-- <span role='button'  (click)='listenShow(show.excerpt)' class='listen-now-btn'><i class="fas fa-play"></i> &nbsp;Listen Now</span> -->
            <span role='button' *ngIf='youtubeVideo !== "" || bilibiliVideo !== ""' (click)='watchShow()' class='listen-now-btn'><i class="fas fa-tv"></i> &nbsp;Watch Now</span>
            <iframe *ngIf='soundcloudTrack !== ""' style='margin-left: 5%;margin-bottom: 14px;' width="90%" height="166" scrolling="no" frameborder="no" allow="autoplay" [src]="soundcloudTrack | safe"></iframe>
            <iframe *ngIf='neteaseTrack !== ""' style='margin-left: 5%;margin-bottom: 14px;' width="90%" height="106" scrolling="no" frameborder="no" allow="autoplay" [src]="neteaseTrack | safe"></iframe>
            <p class='single-show-excerpt' [innerHtml]="show.content"></p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <h1 class='single-show-title' style='padding: 0px;margin-left: 14px; margin-bottom: 14px;'>Similar Shows</h1>
    </div>
    <div class="row">
      <div class="col-6 col-sm-4 col-md-3" *ngFor="let show of relatedShows">
        <div class="related-show-container"  (click)='goTo(show.url)'>
          <div class="img-container">
          <img [src]='show.featured_image'>
          </div>
          <h2 class='similar-artists-title'>{{show.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-blogroll></app-blogroll> -->
