<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- <div class='stream-container'>
<app-livestream *ngIf='this.playerService.livestreamActive == true'></app-livestream>
</div> -->

<!-- <app-radiostream></app-radiostream> -->
<!-- <app-livestream [options]="{
  autoplay: true,
  controls: true,
  sources: [{
    src: 'http://161.35.20.148/dash/test.mpd',
    type: 'video/mp4' }]}">
  </app-livestream> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-player></app-player>
