<div class="splash">
  <div class="row">
    <div class="waveform">
    </div>
    <!-- <div class="waveform" [ngClass]="{'animating': radioActive}">
    </div> -->
    <div class="col-12 col-sm-6">
      <div class="title-container">
      <h1>SHANGHAI COMMUNITY RADIO</h1>
      </div>

    </div>
    <div class="col-12 col-sm-6">
      <div class="splash-nav-container">
        <div class="player-control-bar">
          <a routerLink="/shows" class='splash-nav-link'><div class='splash-nav-link-inner back-button'><img  src='assets/back-button-01.png'/><p>档案<br>ARCHIVE</p></div></a>
          <a routerLink="/blog" class='splash-nav-link'><div class='splash-nav-link-inner pause-button'><img  src='assets/pause-button-01.png'/><p>博客<br>BLOG</p></div></a>
          <a routerLink="/livestream" class='splash-nav-link'><div class='splash-nav-link-inner play-button'><img  src='assets/play-button-01.png'/><p>直播<br>LIVE</p></div></a>
          <a routerLink="/schedule" class='splash-nav-link'><div class='splash-nav-link-inner next-button'><img src='assets/next-button-01.png'/><p>接下节目<br>UP NEXT</p></div></a>
        </div>
      <!-- <app-radiostream></app-radiostream> -->
      </div>
    </div>

  </div>

</div>
