.slider {
  position: relative;
  width: 90%;

}


.hidden {
  display: none;
}

.temp-img {
  // filter: blur(12px);
  // min-height: 215px;
}

.slide-container {

}

.slide a {
  text-decoration: none;
}


.slide {
  position: absolute;
  border-radius: 14%;
}

.slide-image {
  border-radius: 14%;
}

.slide-image img {
   width: 100%;
   border-radius: 14px;
}

.slide-copy {

  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  font-family: "Exo 2";
  background-color: rgba(255,255,255,0.9);
  height: 100%;
  transition: 0.2s;
  z-index: 2;
  position: absolute;
  top: 0px;
  width: 33.333%;
  margin-left: 0px;
  text-align: left;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}


.slide-copy h1 {
  font-size: 1.777rem;
  padding: 0px 14px 0px 14px;
  font-family: 'Exo 2', sans-serif;
  font-weight:700;
  transition: 0.2s;
  text-transform: uppercase;
  color: transparent;
  padding-bottom: 24px;
  width: 90%;
  margin: 0 auto;
  -webkit-text-stroke-color: #555;
  -webkit-text-stroke-width: 1px;
}

.slide-copy h2 {
  line-height: 1.2em;
  font-size: 1rem;
  padding: 14px 14px 0px 14px;
    transition: 0.2s;
    color: #353535;
    font-weight: 400;
    font-family: 'Noto Sans SC';

}



.slider-controls {
  position: absolute;
  right: 24px;
  top: 35px;
  z-index: 3;
}

.slider-controls p:hover {
-webkit-text-stroke-color: #fff;
}

.slider-controls p {
  display: inline-block;
  margin-right: 28px;
  margin-left: 28px;
  font-size: 2em;
  text-align: center;
  transition: 0.2s;
  width: 50px;
  padding: 4px;
  color: rgba(0,0,0,0.25);
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #fff;
cursor: crosshair;
}

@media only screen and (max-width: 992px) {
  .slider {
    width: calc(100% - 88px);
    margin-left: 77px;
  }

  .slide-copy {
    width: 100%;
    top: -127px;
    height: 120px;
    border-radius: 7px;
    justify-content: center;
    background: rgba(255,255,255,0.5);
  }

  .slide-copy h1 {
    font-size: 1.333rem;
    padding: 3px 7px 3px 7px;
    border-bottom: none;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .slide-copy h2 {
    line-height: 1.2em;
    font-size: 0.75rem;
    padding: 3px 7px 3px 7px;
    width: 90%;
    margin-left: 5%;

  }

  .slider-controls {
    right: 7px;
    top: 7px;
  }

  .slider-controls p {
    font-size: 1.777em;
  }
}
