.img-container {
  width: 100%;
  height: auto;
}

.back-btn {

  font-size: 4.209em;
  color: transparent;
  -webkit-text-stroke-color: #000;
  display: block;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: -75px;
  cursor: pointer;

}

.back-btn:hover {
  -webkit-text-stroke-color: #8f8f8f;
}

.img-container img {
  width: 100%;
}

.single-show-title {
  font-size: 1.777em;
  margin-top: 35px;
  margin-bottom: 14px;
  padding: 0px 35px;
}

.single-show-date {
  font-size: 1.333em;
  color: #353535;
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 0px 35px;
  padding-bottom: 4px;
  display: inline-block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.single-show-excerpt {
  line-height: 1.777em;
  padding: 0px 35px;
  font-size: 1em;
  font-family: "Exo 2", sans-serif;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
}


.similar-artists-title {
  margin-top: 7px;
  font-size: 1.333em;
  padding: 4px;
}

.latest-show-container {
  cursor: pointer;
}

.latest-show-container:hover {

}

.latest-artists-title {
  margin-top: 7px;
  font-size: 1.333em;
  padding: 4px;
}



@media (max-width: 768px) {

  .fluid-container {
    width: calc(100% - 64px);
    margin-left: 64px;
  }
  .back-btn {
    left: 10vw;
  }

  .show-img-container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
