<div class="fluid-container"  style='background-color: #f4f4f4;position:relative;padding-top: 70px;'>
  <div class="container">
    <div class='row' *ngIf='isLoading' style='min-height: 75vh;'>
      <div class='col-12' style='text-align: center;margin-top: 32px;'><img src='assets/loading.gif'>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let show of shows" style='width: 100%;'>
        <div class="row">
          <div class="col-12 col-md-6">
              <!-- <span role='button' class='back-btn' (click)='goBack()'><</span> -->
            <div class='img-container show-img-container'>
                    <img [src]="show.featured_image">
            </div>
          </div>

          <div class="col-12 col-md-6">
            <h1 class='single-show-title'>{{show.title}}</h1>
            <h2 class='single-show-date'>{{show.time}} <span style='font-size: 0.56em;'>HKT</span></h2>
            <h2 class='single-show-date'>{{show.date}}</h2>
            <p class='single-show-excerpt' [innerHtml]="show.content"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class='single-show-title'>Latest Shows</h1>
    </div>
    <div class="row">
      <div class="col-6 col-sm-4 col-md-3" *ngFor="let show of latestShows">
        <div class="latest-show-container"  (click)='goTo(show.url)'>
          <div class="img-container">
          <img [src]='show.featured_image'>
          </div>
          <h2 class='latest-artists-title'>{{show.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
