.container-fluid {
  padding-top: 0px;
  padding-bottom: 35px;
  background: rgb(246,246,246);
background: linear-gradient(315deg, rgba(216,216,216,1) 0%, rgba(246,246,246,1) 100%);
  padding: 2%;

}

.container {

}

.chinesetext {
//  font-family: 'GBK'!important;
color: #0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2d3941;
}


.resident-card {
  padding: 21px 35px;
  margin: 0px;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 0px;
  min-height: 14rem;
  cursor: pointer;
  transition: 0.2s;
}

.resident-card img {
  border-radius: 100%;
}

.resident-card:hover {
  background: #000;
  color: #fff;
  box-shadow: -2px -2px 4px 0px rgba(255,255,255,0.4),
  2px 2px 4px 0px rgba(0,0,0,0.4);
}

.see-all-residents {
  color: #000;
  width: 50%;
  text-align: center;
margin: auto;
  margin-bottom: 70px;
  padding: 14px 14px;
  transition: 0.2s;
  border-radius: 4px;
  max-width: 320px;
    font-family: "Noto Sans SC", sans-serif;
  box-shadow: -8px -8px 8px 0px rgba(255,255,255,0.4),
  2px 2px 8px 0px rgba(0,0,0,0.4);
  background-color: rgb(233,233,233);
  background: linear-gradient(135deg, rgba(233,233,233,0.5357493339132529) 0%, rgba(240,240,240,0.5357493339132529) 60%, rgba(255,255,255,1) 100%);
}

.see-all-residents:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
  box-shadow: none;
  box-shadow: -8px -8px 8px 0px rgba(255,255,255,0.4),
  2px 2px 8px 0px rgba(0,0,0,0.4);
}

@media only screen and ( orientation : portrait ) {
  .resident-card{
  min-height: 16rem;
  max-height: 16rem;
  width: 100%;
  }
}

.img-container {
  max-height: 25rem;
  overflow-y: hidden;
  overflow-x: hidden;
}


.img-container img {
width:100%;
}


h1 {
  font-size: 1.333em;
  padding-top: 70px;
  padding-bottom: 7px;
  margin-left: 0px;
  font-family: 'Noto Sans SC', sans-serif;
  width: 240px;
  font-weight: 900;
  color:#2d3941;

}

h2 {
  padding-top: 14px;
  padding-bottom: 0px;
  font-size: 1em;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

.row {
  padding-bottom: 35px;
}

@media (max-width: 1200px) {
  .img-container {
    max-height: 160px;
  }
  .resident-card {
    height: 220px;
  }
}

@media (max-width: 768px) {

 h1 { padding-top: 77px;}

  h2 {
    font-size: 1em;

  }
}
