.chinesetext {
//  font-family: 'GBK'!important;
color: #0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2d3941;
}


h1 {
  font-size: 1.333em;
  padding-top: 70px;
  padding-bottom: 7px;
  margin-left: 0px;
  font-family: "Exo 2", monospace;
  width: 240px;
  font-weight: 900;
  color:#2d3941;

}

.img-container {
  width: 100%;
  height: auto;
}

.img-container img {
  width: 100%;
  max-height: 195px;
}

.post-title {
  font-size: 1em;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 7px 35px;
  font-weight: 700;
}

.post-excerpt {
  padding: 0px 35px;
  margin-bottom: 19px;
  font-size: 0.75em;
}

.post-card {
  cursor: pointer;
  background: rgba(255,255,255,0.75);
  margin-bottom: 25px;
  border-radius: 14px;
  border-radius: 14px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid #0f0;
  transition: 0.5s;
  border-right: 1px solid #0f0;
  //background-color: rgb(233,233,233);
  background: linear-gradient(135deg, rgba(233,233,233,0.2) 0%, rgba(240,240,240,0.2) 60%, rgba(255,255,255,0.2) 100%);
  min-height: 22rem;
}

.post-card:hover {
  background-color: #fff !important;
}

@media (max-width: 1200px) {
  .img-container img {
    max-height: 160px;
  }
}

@media (max-width: 992px) {
  .img-container img {
    max-height: 180px;
  }
}

@media (max-width: 768px) {
  .img-container img {
    max-height: initial;
  }
}
