<div class="fluid-container" style='padding: 35px 0px;'>
<div class='container'>
  <div class="row">
    <div class="col-3">
      <p>&nbsp;</p>
    </div>
    <div class="col-9">
        <h1 class='heading'> <span class="chinesetext">最新文章</span> EDITORIAL</h1>
  <div class="row" style='min-height: 100vh;'>
    <div class='col-12 col-md-6' *ngFor='let post of posts'>
      <div class="post-card" (click)="goTo(post.filename)">
        <div class='img-container'>
        <img [src]="post.image_large">
        </div>
        <h1 class='post-title'>{{post.title}}</h1>
        <p class='post-excerpt'>{{post.excerpt}}</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
