<app-slider></app-slider>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-12'>
      <!-- <app-latest></app-latest> -->
<app-shows></app-shows>
</div>
<div class='col-12'>
<!-- <app-schedule></app-schedule> -->
<app-upcoming></app-upcoming>
</div>
</div>

<app-blogroll></app-blogroll>

<div class='row'>
<div class='col-12'>
  <app-residents></app-residents>
  </div>
  </div>
  <!-- <div class="row">
  <app-adspace></app-adspace>
  </div> -->
</div>
<!-- <div class='container-fluid'>
  <div class='col-lg-8 col-12'>
<app-blogroll></app-blogroll>
  </div>
</div> -->
