<form [formGroup]='form' (submit)='onFormSubmit()' style='width: 100%;'>
  <div class="row">
    <div class="col-12 col-md-3">
<h1>How much do you want to donate? <span style='font-weight: 700;font-size: 0.56em;'>(USD)</span></h1>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-6 col-md-3">
      <button (click)='donatePreset(5)' class='amount-preset' type="button" name="button">$5</button>
        </div>
        <div class="col-6 col-md-3">
      <button (click)='donatePreset(10)' class='amount-preset' type="button" name="button">$10</button>
        </div>
        <div class="col-6 col-md-3">
      <button (click)='donatePreset(20)' class='amount-preset' type="button" name="button">$20</button>
        </div>
        <div class="col-6 col-md-3">
          <label>$</label>
          <input formControlName='amount' class='amount-number' type='text'/><p class='amount-decimal'>.00 <span style='font-weight: 700;font-size: 0.56em;'>USD</span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <button class='proceed-btn'  [ngClass]="{'disabled' : form.value.amount == null || form.value.amount ==  0 || form.value.amount ==  '' || form.status == 'INVALID'}" type="submit" name="button">Proceed</button>
      <span role='button' (click)='advanceToSlide1()' class='go-back-btn'><i class="fas fa-angle-double-left"></i> BACK</span>
    </div>



  </div>




</form>
